########################################################################
#                                                                      #
# Copyright (C) 2014 OVSM/IPGP                                         #
#                                                                      #
# This program is free software: you can redistribute it and/or modify #
# it under the terms of the GNU General Public License as published by #
# the Free Software Foundation, either version 3 of the License, or    #
# (at your option) any later version.                                  #
#                                                                      #
# This program is distributed in the hope that it will be useful,      #
# but WITHOUT ANY WARRANTY; without even the implied warranty of       #
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        #
# GNU General Public License for more details.                         #
#                                                                      #
# This program is part of 'Projet TSUAREG - INTERREG IV Caraïbes'.     #
# It has been co-financed by the European Union and le Ministère de    #
# l'Ecologie, du Développement Durable, des Transports et du Logement. #
#                                                                      #
########################################################################


# Regions: rectangles defined by two couple of coordinates within which
# the parser will read stations data. e.g.: latMax|lonMin|latMin|lonMax
# @note An empty list means that all stations are allowed
#polygons = 15.|-61.5|14.2|-60.5, 16.6|-62.|15.7|-61.

# Blacklisted stations
#stations = ANWB, SKI, SEUS, SMRT, SABA

# The minimum number of stations required before raising an alarm
minStationAlert = 1

# The minimum acceleration value in mg (1g = 9.80665m/s2)
# @note The acceleration value is stored as %g in XML
minStationAcc = .01

outputFile = /home/sysop/_chkacc/message.sms

debug = true
