# Magnitude dependent time window table. The format is "mag1:secs1, mag2:secs2,
# mag3:secs3". If a magnitude falls between two configured magnitudes the time
# window of the lower magnitude is used then. No interpolation is performed.
# Magnitude outside the configured range are clipped to the lowest/highest
# value. Example: "3:100, 4:200, 5:300"
wfparam.magnitudeTimeWindowTable = 2:60,3:120,4:180

# Analogue to wfparam.magnitudeTimeWindowTable but instead giving a time
# window, the distance in km is specified. Example: "3:400, 4:450, 5:500"
wfparam.magnitudeDistanceTable = 1:50,2:150,3:350,4:500

# The stream blacklist
wfparam.streams.blacklist = "MQ.*.91.EHZ","MQ.IAJB.00.EH?"

# Specifies a list of delay times in seconds relative to event time to trigger
# the processing. When the first origin of an event arrives this list is used
# to construct the crontab for this event. Example: "60, 120, 300, 3600"
wfparam.cron.delayTimes = 60,120,300,172800

# Uses short event ids when an event output directory needs to be created. The
# default pattern is [eventtime]_[mag]_[lat]_[lon]_[updatetime]. The short
# format just contains the first part, namely [eventtime] in the format
# YEARmmddHHMMSS.
wfparam.output.shortEventID = true

# Specifies the ShakeMap XML output path. This is only used if
# wfparam.output.shakeMap.enable is set to true.
wfparam.output.shakeMap.path = @DATADIR@/shakemaps

# Specifies the path to a script that is called whenever a new ShakeMap XML is
# available. The script is called with 3 parameters: EventID, modified ShakeMap
# eventID, path to event directory (where input/event.xml and
# input/event_dat.xml lives). The event files are not deleted by the
# application. The ownership goes to the called script.
wfparam.output.shakeMap.script = /home/sysop/.chkacc/bin/chkmsg.pl

# If enabled the maximum PGV, PGA, PSA03, PSA10 and PSA30 of both horizontal
# components is used in the final output. Otherwise each component is saved.
wfparam.output.shakeMap.maximumOfHorizontals = true


# Enables/disables the output of processed waveforms.
wfparam.output.waveforms.enable = true

# Specifies the waveform output path. This parameter is only used if
# wfparam.output.waveforms.enable is true.
wfparam.output.waveforms.path = @DATADIR@/shakemaps/waveforms

# Enables/disables the creation of an event directory (named with eventID) when
# storing the processed waveforms. This parameter is only used if
# wfparam.output.waveforms.enable is true.
wfparam.output.waveforms.withEventDirectory = true

# Enables/disables the output of spectra (psa, drs). The output format is a
# simple ASCII file where the first column is the period and the second column
# the corresponding value.
wfparam.output.spectra.enable = true

# Specifies the spectra output path. This parameter is only used if
# wfparam.output.spectra.enable is true.
wfparam.output.spectra.path = @DATADIR@/shakemaps/spectra

# Enables/disables the creation of an event directory (named with eventID) when
# storing the spectra. This parameter is only used if
# wfparam.output.spectra.enable is true.
wfparam.output.spectra.withEventDirectory = true

