# Service AlarmePrecoce

[Unit]
Description=AlarmePrecoce
After=syslog.target
After=network.target

[Service]
Type=simple
User=UTILISATEUR_ALARME_PRECOCE
WorkingDirectory=/DOSSIER_INSTALLATION_ALARME_PRECOCE
ExecStart=/bin/bash /DOSSIER_INSTALLATION_ALARME_PRECOCE/EarlyWarning.sh
Restart=on-failure 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=/var/log/earlywarning.log
Environment=UTILISATEUR_ALARME_PRECOCE=sysop HOME=/home/UTILISATEUR_ALARME_PRECOCE
#StandardOutput=tty

[Install]
WantedBy=multi-user.target
